# Main Application Config
# This is a YAML file that can contain ERB

# Default namespace; all others will inherit from this one
defaults: &defaults
  # Database settings
  database_config:
    # You may use any mongoid.yml-compatible settings here; we just chose URI
    uri: <%= ENV['MONGOLAB_URI'] || "mongodb://localhost/mongo_stalker_#{Rails.env}" %>

  # Mailer settings
  mailer_config:
    host: localhost
    port: 25
    tls:  false
    # SMTP Auth Settings
    auth:   none
    domain: example.com

  # Capistrano settings
  deploy_config:
    # General deploy settings
    server:        'foo.example.com'
    repository:    'git://github.com/torrancew/mongo_stalker.git'
    deploy_to:     '/usr/local/share/deploy/mongo_stalker'
    deploy_branch: master
    keep_releases: 3
    # Deploy user settings
    user:     deploy
    use_sudo: false

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

heroku:
  <<: *defaults

